.footer{
  width: 100%;
  background: #f7f6f6;
.footer-btn{
  display: block;
  margin:0 auto;
  width: 170px;
  height: 70px;
  background: red;
  color:white;
  font-size:26px;
  font-weight:bold;
  cursor: pointer;
}
a{
  text-decoration: none;
}
}