.footer{
  width: 100%;
  background: #f7f6f6;
.footer-btn{
  display: block;
  margin:0 auto;
  width: 200px;
  height: 100px;
  background: red;
  color:white;
  font-size:35px;
  font-weight:bold;
  cursor: pointer;
}
a{
  text-decoration: none;
}
}