header{
  height: 200px;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid #96ee23;
  .logo-box{
    margin-top:20px;
    margin-left:20px;
  }
  .image-box{
    height: 200px;
    width: 200px;
  }
  .right-box{
    height: 200px;
    width: 200px;
    margin-top:10px;
    a{
      text-decoration: none;
      color:blue;
      font-weight: bold;
    }
    .kanri-box{
      font-size:18px;
      height: 70px;
      width: 180px;
      line-height: 60px;
      text-align: center;
      border: solid burlywood;
      cursor: pointer;
      margin-bottom: -5px;
    }
    .btn-logout{
      font-size:18px;
      height: 70px;
      width: 185px;
      border: solid burlywood;
      color: blue;
      font-weight: bold;
      cursor: pointer;
        }
    .mypage-box{
      height: 80px;
      line-height: 60px;
      text-align: center;
      width: 120px;
      border: solid burlywood;
    }
  }
  .header-box{
    position: relative;
    display: flex;
    height: 200px;
    .title{
      display: flex;
      text-align: center;
      height: 150px;
      width: 800px;
      p{
        margin: 0 auto;
        font-size:55px;
        font-weight: bold;
        // text-align: center;
      }
    }
    button{
      position: absolute;
      right: 180px;
      top: 120px;
      cursor: pointer;
      border: none;
    .fa-search{
      font-size: 20px;
      }
    }
    .search-box{
      padding: 0 10px 0 15px;
      position: absolute;
      bottom: 40px;
      left: 120px;
      height: 50px;
      width: 500px;
      border: solid gray;
      text-align: left;
      font-size:20px;
      line-height: 50px;
      border-radius: 80px;
    }
    .search-box:focus{
      border: outset 1px rgb(3, 136, 212);
      outline: none;
    }
  }
}
.body-header{
  margin: 15px 0 15px 0;
  font-size:34px;
  text-align: center;
  color:blue;
  font-family: monospace;
  span{
    color: rgb(20, 121, 70);
    font-family: initial;
  }

}
.new-manualbox{
  height: 135px;
  display: flex;
  position: relative;
  justify-content: space-around;
  .new-manual{
    position:relative;
    font-size:20px;
    width: 300px;
    height: 120px;
    text-align: center;
    background-color: rgba(250, 173, 173, 0.07);
    border: solid 1px;
    a{
      cursor: pointer;
      text-decoration: none;
      position: absolute;
      height: 100%;
      width: 100%;
      display: block;
      color:green;
    }
    div{
      font-size:20px;
      position: absolute;
      bottom: -30px;
      left: 40px;
    }
  }
  .new-manual:hover{
    opacity: 0.5;
  }
}
.new-box-index{
  display: flex;
  justify-content: space-around;
  color:red;
  font-size:22px;
  font-weight: bolder;
  .new-box-name{
    color:red;
  }
}
.manual-header{
  font-size:34px;
  text-align: center;
  color: blue;
  font-family: monospace;
  margin: 20px 0 20px 0 ;
}
.manual-logobox{
height: 200px;
display: flex;
justify-content: space-around;
.logo-box{
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  .gazou{
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
  }
}
}
.manual-categorybox{
  position: relative;
  margin-top:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    a{
      color:blue;
      text-decoration: none;
    }
.select{
  -webkit-appearance: none;
  appearance: none;
  height: 50px;
  width: 200px;
  line-height: 50px;
  font-size:20px;
  border-radius: 10px;
  border: solid 2px;
  cursor: pointer;
  text-align: center;
}
.select:hover {
  background-color: gold;
}
}
.setumei-box-index{
  text-align: center;
  p{
    font-size:20px;
  }
  span{
    margin-top: 20px;
    font-size:20px;
    color:red;
    text-align: center;
  }
}
