.show-main-box{
  background: #f7eded;
  .show-box{
  height: 800px;
  width: 1100px;
  margin: 0 auto;
  background: white;
  .manual-name{
    text-align: center;
    margin: 0px 0 15px 0 ;
    height: 40px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    color:blue;
    
  }
  .pdf-box{
    display: flex;
    object{
      margin-left:30px;
    }
    .setumei{
      font-size: 20px;
      margin-left:40px;
      
    }
  }
}
}