.flyer-header{
  height: 200px;
  font-size:25px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: 5px solid #ffcc33;
  span{
    color:red;
  }
  .flyer-setumei{
    margin-top:60px;
  }
}
.flyer__manual{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
&__box{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  width: 200px;
  border-radius: 5%;
  background: rgb(188, 229, 245);
  margin-right: 5px;
  margin-left:15px;
  margin-bottom: 10px;
  cursor: pointer;
  a{
    display: block;
    text-decoration: none;
    margin-top:10px;
    height: 100%;
    width: 100%;
  }
}
  &__box:hover {
  background-color: gold;
}
}
